{% extends 'user_nav.html' %}
{% block body %}
{% load static%}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&family=Cinzel:wght@700&display=swap" rel="stylesheet">


{% ifequal error == "no" %}
<script>
    alert('Password Changed Successfully');
    window.location=('{% url 'login' %}');
</script>
{% endifequal %}

{% ifequal error == "yes" %}
<script>
    alert('Invalid Login Credentials, Try Again!!');
</script>
{% endifequal %}

<style>
    #bodycss {
        background-color: rgb(225, 255, 255);
    }
</style>

<body id="bodycss">
<div class="container mt-5" style="background-color:#d8c385; color: black; box-shadow: 8px 8px 8px #d8c385; height: 75%; width: 100%;">
    <div class="row">
        <div class="col-sm-6 my-4">
            <img src="{% static 'images/2.jpg' %}" style="width:95%; height:480px; border:2px black solid;">
        </div>
        <div class="col-sm-6 my-4">
            <h2 class="text-center mb-4" style="font-family: 'Cinzel', serif;font-size: 40px;"><b>CHANGE PASSWORD</b></h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                <label><b>Old Password:</b></label>
                <input type="password" class="form-control" placeholder="Enter Old Password" name="old_pwd"></div>
                <div class="form-group"><label><b>New Password:</b></label>
                <input type="password" class="form-control" placeholder="Enter New Password" name="new_pwd"></div>
                <div class="form-group"><label><b>Confirm Password:</b></label>
                <input type="password" class="form-control" placeholder="Confirm Password" name="cnfm_pwd"></div>
                <center><input type="submit" class="btn btn-danger mt-2" value="Change Password"></center>
            </form>
        </div>
    </div>
</div>



{% endblock %}