{% extends 'base.html' %}
{% load static %}
{% block side %}
<head>
    <style>
        #bodycss {
        background-color: rgb(225, 255, 255);
    }
    </style>
</head>
<body id="bodycss">
<div class="col-sm-2 text-dark my-5 text-center">
    <h4 class="my-5" style="font-family:Georgia, 'Times New Roman', Times, serif;font-size: 40px;font-weight: bolder">Profile</h4><br>
        <div class="card" style="border: 2px solid black;">
            <img src="{% static 'images/download.png' %}" alt="John" style="width:100%">
            <h5>{{full_name}}</h5>
            {% for group in groups %}
            <p>{{group.name}}</p>
            {% endfor %}
        </div>
</div>
{% endblock side %}

{% block content %}
    
    <div class="col-sm-10">
        <h3 class=" text-dark my-5" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 50px;text-align: center;font-weight: bolder;">Dashboard page</h3>
        <center><a href="{% url 'addpost' %}" class="btn btn-success">Add Post</a></center>
            <h4 class="text-center alert alert-info mt-3">Show Post Information</h4>
            {% if posts %}
            <table class="table table-hover bg-white">
                <thead>
                    <tr class="text-center">
                        <th scope="col" style="2%">ID</th>
                        <th scope="col" style="28%">Title</th>
                        <th scope="col" style="55%">Description</th>
                        <th scope="col" style="15%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    
                    <tr>
                        
                        <th scope="row">{{post.id}}</th>
                        <td>{{post.title}}</td>
                        <td>{{post.desc}}</td>
                        <td class="text-center">
                            <a href="{% url 'updatepost' post.id %}" class="btn btn-warning btn-sm">Edit</a>
                            {% if perms.notes.delete_post%}
                            <form action="{% url 'deletepost' post.id %}" method="POST" class="d-inline">
                                {% csrf_token%}
                                <input type="submit" name="" id="" class="btn btn-danger     btn-sm" value="Delete">
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
               
            </table>
            {% else %}
            <h4 class="text-center alert alert-warning">No Post Yet</h4>
            {% endif %}
    </div>


{% endblock content %}
</body>