{% extends 'navigation.html' %}
{% block body %}
{% load static%}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&family=Cinzel:wght@700&display=swap" rel="stylesheet">

{% if error == "no" %}
<script>
    alert('Logged In Successfully');
    window.location = ('{% url 'user_home' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Invalid Login Credentials, Try Again!!');
</script>
{% endif %} 
<style>
    #bodycss {
        background-color:rgb(225, 255, 255);
    }
</style>
<body id="bodycss">
<div class="container mt-5" style="background-color:#d8c385; color: black; box-shadow: 8px 8px 8px #d8c385; height: 75%; width: 100%;">
    <div>
            <h2 class="text-center my-2" style="font-family: 'Cinzel', serif;font-size: 45px; padding: 6px;"><b>USER LOGIN</b></h2>
            <hr width=100% height=2px color="black">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                <label><b>Email Address :</b></label>
                <input type="email" class="form-control" placeholder="Enter Email" name="emailid"></div>
                <div class="form-group">
                <label><b>Password :</b></label>
                <input type="password" class="form-control" placeholder="Enter Password" name="pwd"></div>
                <center><input type="submit" class="btn btn-danger mt-2" value="Login"></center>
            </form>

    </div>
</div>
</body>
{% endblock %}