{% extends 'admin_nav.html' %}
{% block body %}
{% load static%}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">

<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>


<style>
    #bodycss {
        background-color: rgb(225, 255, 255);
    }
</style>

<body id="bodycss">
<div class="container mt-5">
    <h2 class="text-center" style="font-family: 'Times New Roman', Times, serif;font-size: 50px;"><b>ALL USERS</b></h2>
    <table class="table table-bordered" id="example"  style="border: 2px solid black;">
        <thead>
            <tr style="text-align: center;">
                <th style="border: 2px solid black;">Sr.No.</th>
                <th style="border: 2px solid black;">Full Name</th>
                <th style="border: 2px solid black;">Email ID</th>
                <th style="border: 2px solid black;">Contact</th>
                <th style="border: 2px solid black;">Branch</th>
                <th style="border: 2px solid black;">Role</th>
                <th style="border: 2px solid black;">Action</th>
            </tr>
            {% for i in users %}
            <tr style="text-align: center;">
                <td style="border: 1px solid black;">{{forloop.counter}}</td>
                <td style="text-transform:capitalize;border: 1px solid black;">{{i.user.first_name}} {{i.user.last_name}}</td>                                                   <!--this "uploadingdate" is a column created in models.py by in Notes class-->
                <td style="border: 1px solid black;">{{i.user.username}}</td>
                <td style="border: 1px solid black;">{{i.contact}}</td>
                <td style="border: 1px solid black;">{{i.branch}}</td>
                <td style="border: 1px solid black;">{{i.role}}</td>
                <td style="border: 1px solid black;"><a href="{% url 'delete_users' i.user.id %}" class="btn btn-danger" onclick="return confirm('Do you want to delete?')">Delete</a></td>
      
            </tr>
            {% endfor %}
        </thead>
    </table>
</div>
</body>
{% endblock %}